/*Базовые стили*/
:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #60606e;
}
/*Стили для базовых блоков*/
.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    color: inherit;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
}
.heading::after {
    content: '';
    display: block;
    background-image: url(../img/decoration-element-1.png);
    width: 68px;
    height: 21px;
    position: absolute;
    top: 50%;
    z-index: -1;
}
.heading__text {
    font-size: 0.875rem;
    line-height: 1.714;
    margin-bottom: 7.142em;
}
.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 2.14;
    color: #60606e;
    margin: 0;
}
.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
}
.input {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    padding: 1.5em;
}
.input::placeholder {
    text-transform: uppercase;
    color: #cccccc;
}
/*Стили header*/
.header {
    background-image: url(../img/about-header-bg.png);
    background-size: cover;
    padding-top: 2.687em;
    margin-bottom: 9.375rem;
}
.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
.header__logo:hover {
    color: inherit;
}
.header__menu {
    border: none;
    background: transparent;
}
.header__navbar {
    margin-bottom: 13.187em;
}
.header__hero-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.777em;
}
.header__hero-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 11.875em;
}
/*стили для contact*/
.contact {
    padding-bottom: 9.375rem;
}
.contact__form {
    margin-bottom: 6.25rem;
}
.contact__form-name {
    width: 48%;
}
.contact__form-email {
    width: 48%;
    margin-bottom: 1.875rem;
}
.contact__form-object {
    margin-bottom: 1.875rem;
}
.contact__form-message {
    resize: none;
    margin-bottom: 1.875rem;
}
.contact__form-button {
    background-color: #7beec7;
    padding: 1.428em 0;
}
.contact__info-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.666em;
}
.contact__info-text {
    margin-bottom: 2.14em;
}
.contact__info-adress {
    margin-bottom: 1em;
}
.contact__info-telephone {
    text-decoration: none;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: inherit;
}
.contact__info-email {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: #999999;
    text-decoration: none;
    margin-bottom: 2em;
}
.contact__social-icon {
    margin-right: 0.8em;
    font-size: 1.2rem;
}
/*стили для feedback-form*/
.feedback-form {
    background-color: #7beec7;
    padding: 3.125em 0;
}
.feedback-form__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.6;
    color: white;
    margin: 0 0 1em ;
}
.feedback-form__button {
    background-color: white;
    color: #7beec7;
    padding: 1.1em 2.285em;
    margin-bottom: 1rem;
}
.feedback-form__post {
    background-color: white;
    padding: 1.25em 1.625em;
}
.feedback-form__post-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}
.feedback-form__post-text {
    font-size: 1rem;
    line-height: 1.5;
}
.feedback-form__post-button {
    background-color: #7beec7;
    padding: 1.1em 3.571em;
}
.feedback-form__email-form::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.857rem;
    color: #cdcdcd;
}
.feedback-form__email-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.857rem;
}
/*Стили для footer*/
.footer {
    padding: 3.125rem 0;
}
.footer__navbar {
    list-style: none;
    margin: none;
    padding: 0;
}
.footer__navbar-item:not(:last-child)::after {
    content:"-";
    margin: 0 1.125em;
}
.footer__navbar-item-link {
    font-size: 0.875rem;
    text-decoration: none;
    color: inherit;
}
.footer__copyright {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 2.142em;
}
.footer__social-icon {
    margin-left: 0.8em;
    font-size: 1.2rem;
}